.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
coverage.xml
*.egg-info/
.env
*.zip

data/raw/*
!data/raw/manual/
!data/raw/manual/.gitkeep
!data/raw/tisseo/
!data/raw/tisseo/.gitkeep

data/bronze/*
!data/bronze/.gitkeep
data/reports/*
!data/reports/.gitkeep

data/silver/*
!data/silver/.gitkeep

quality_contracts/validation_results/*
!quality_contracts/validation_results/.gitkeep
quality_contracts/data_docs/local_site/*
!quality_contracts/data_docs/local_site/.gitkeep
