.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
coverage.xml
*.egg-info/
.env
*.zip

data/raw/*
!data/raw/manual/
!data/raw/manual/.gitkeep
!data/raw/tisseo/
!data/raw/tisseo/.gitkeep

data/bronze/*
!data/bronze/.gitkeep
data/reports/*
!data/reports/.gitkeep
