{
	email {$TLS_EMAIL}
}

{$MCT_PUBLIC_HOSTNAME} {
	encode gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
	}

	handle_path /api/* {
		reverse_proxy api:8000
	}

	handle_path /docs* {
		reverse_proxy api:8000
	}

	handle {
		reverse_proxy dashboard:8501
	}
}
